@media screen and (max-width: 1140px) {
    .ten {
        padding: 0 20px;
    }   
}

.ten .inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 60px 30px;
    margin-bottom: 150px;
}

@media screen and (max-width: 992px) {
    .ten .inner-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }    
}

@media screen and (max-width: 767px) {
    .ten .inner-container {
        padding: 20px 10px;
        margin-bottom: 50px;
    }    
}

.article-contact__left {
    max-width: 425px;
    width: 100%;
    margin-right: 30px;
}

@media screen and (max-width: 992px) {
    .article-contact__left {
        margin-bottom: 30px;
        margin-right: 0;
        max-width: none;
    }
}

.article-contact__img img {
    width: 100%;
}

.article-contact__shares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100px;
    width: 100%;
    margin: 30px 0;
}

@media screen and (max-width: 767px) {
    .article-contact__shares {
        max-width: 50px;
    }
}

.article-contact__shares a {
    display: block;
    width: 38px;
    height: 38px;
    background-size: 38px;
}

@media screen and (max-width: 767px) {
    .article-contact__shares a {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
}

.article-contact__write-button {
    width: 100%;
    color: #1e79db;
    font-family: "GothamPro-Medium";
    font-size: 18px;
    border: 3px solid #1e79db;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    padding: 13px 0;
    text-align: center;
    -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) .5s;
}

.article-contact__write-button:hover {
    background-color: #1e79db;
    color: #fff;
}

.article-contact__title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 25px;
}

@media screen and (max-width: 1140px) {
    .article-contact__title {
        font-size: 30px;
        line-height: 1.2;
    }   
}

@media screen and (max-width: 992px) {
    .article-contact__title {
        font-size: 25px;
    }   
}

@media screen and (max-width: 767px) {
    .article-contact__title {
        font-size: 20px;
    }
}

.article-contact__details {
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .article-contact__details {
        display: inline-block;
        width: 49%;
    }   
}

@media screen and (max-width: 767px) {
    .article-contact__details {
        width: 100%;
    }
}

.article-contact__details-bold {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .article-contact__details-bold {
        font-size: 16px;
        margin-bottom: 7px;
    }
}

.article-contact__details-normal {
    color: #000000;
    font-family: "GothamPro";
    font-size: 18px;
}

@media screen and (max-width: 767px) {
    .article-contact__details-normal {
        font-size: 14px;
    }
}

.article-contact__inner-title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 18px;
    margin-bottom: 20px;
}

.ten .regular__text {
    max-width: 582px;
}