.main__search--2 {
    background: url('../img/bg/second-page-bg.png') center no-repeat;
}

@media screen and (max-width: 767px) {
    .main__search--2 {
        padding: 30px 5px;
    }
}

.events__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .events__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.events__item {
    margin-bottom: 63px;
    max-width: 525px;
    width: 100%;
}

@media screen and (max-width: 1140px) {
    .events__item {
        max-width: 47%;
    }   
}

@media screen and (max-width: 767px) {
    .events__item {
        max-width: none;
        margin-bottom: 30px;
    }
}

.events__item .regular__date {
    margin-left: 0;
}

.events__item-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
    padding: 0 35px 0 0;
}

@media screen and (max-width: 992px) {
    .events__item-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
    }
}

.events__item-img {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    margin-right: 14px;
}

@media screen and (max-width: 992px) {
    .events__item-img {
        max-width: none;
        max-height: none;
        margin-right: 0;
        width: 100%;
    }   
}

.events__item-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.events__item-title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 10px;
}

@media screen and (max-width: 992px) {
    .events__item-title {
        padding: 10px 10px 0;
    }
}

.events__item-desctiption {
    color: #000000;
    font-family: "GothamPro-Light";
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
    .events__item-desctiption{
        padding: 0 10px 10px;
    }
}

.more-button-wrapper--uppercase {
    margin-bottom: 120px;
}

.more-button-wrapper--uppercase .more-button {
    text-transform: uppercase;
}

@media screen and (max-width: 1140px) {
    .more-button-wrapper--uppercase::before, .more-button-wrapper--uppercase::after {
        max-width: 308px;
    }   
}

@media screen and (max-width: 767px) {
    .more-button {
        padding: 14px 0;
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}