.org {
    padding: 60px 35px 90px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 150px;
}

@media screen and (max-width: 992px) {
    .org {
        padding: 40px 20px 70px;
        margin-bottom: 70px;
    }    
}

@media screen and (max-width: 767px) {
    .org {
        padding: 25px 15px;
    }
}

.org h3 {
    color: #acacac;
    font-family: "GothamPro-Bold";
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .org h3 {
        font-size: 17px;
    }    
}

.org__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .org__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.org__inner-title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .org__inner-title {
        font-size: 30px;
    }   
}

@media screen and (max-width: 767px) {
    .org__inner-title {
        font-size: 21px;
        line-height: 1.3;
    }    
}

.org__inner-description {
    max-width: 720px;
}

@media screen and (max-width: 1140px) {
    .org__inner-description {
        max-width: 650px;
        margin-right: 30px;
    }    
}

@media screen and (max-width: 767px) {
    .org__inner-description {
        margin-right: 0;
    }
}

.org__inner-img {
    width: 100%;
    margin-bottom: 30px;
}

.org__inner-img img {
    width: 100%;
    height: auto;
}

.org__inner-description p {
    color: #000000;
    font-family: "GothamPro";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 25px;
}

.org__inner-date {
    max-width: 240px;
}

.org__inner-date-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
}

.org__inner-date-bold, .org__inner-date-normal {
    color: #000000;
    font-family: "GothamPro-Medium";
    font-size: 16px;
}

.org__inner-date-bold {
    margin-right: 7px;
}

.org__inner-date-normal {
    font-family: "GothamPro";
}

.org__inner-date-contact {
    margin-bottom: 15px;
}