.about {
    margin: 75px auto 125px;
}

@media screen and (max-width: 1140px) {
    .about {
        margin: 50px auto 75px;
    }    
}

@media screen and (max-width: 767px) {
    .about {
        margin: 0 0 75px;
    }   
}

.about__inner {
    max-width: 945px;
    margin: 0 auto;
}

.about__inner-img {
    width: 100%;
    margin-bottom: 55px;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .about__inner-img {
        margin-bottom: 30px;
    }   
}

.about__inner-img img {
    width: 100%;
    height: auto;
}

.about__inner-description p {
    color: #000000;
    font-family: "GothamPro";
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
    .about__inner-description p {
        font-size: 15px;
        margin-bottom: 20px;
    }
}