.main__search--5 {
    background: url('../img/5-bg.png') center no-repeat;    
}

.about__slider {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    padding: 120px 0 40px;
}

@media screen and (max-width: 480px) {
    .about__slider {
        padding: 40px 0;
    }
}

.about__slider-item {
    color: #ffffff;
    font-family: "GothamPro-Bold";
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    text-align: center;
}

@media screen and (max-width: 1140px) {
    .about__slider-item {
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    .about__slider-item {
        font-size: 20px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 767px) {
    .about__slider-item {
        font-size: 16px;
    }
}

.about .page-title {
    margin-bottom: 19px;
}

.news__wrapper, .founders__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.news__wrapper {
    position: relative;
    background: url('../img/bg/balls-bg.png') center no-repeat;
    background-size: 548px 882px;
    z-index: 0;
    background-position-y: 60px;
    background-position-x: 45%;
}

.news__item {
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
    max-width: 360px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

@media screen and (max-width: 992px) {
    .news__item {
        -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    }
}

.news__img {
    width: 100%;
    height: 224px;
}

.news__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.news__title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    line-height: 18px;
    padding: 30px 10px 20px;
}

.news__date {
    font-size: 14px;
    padding-left: 34px;
    margin-bottom: 33px;
}

.news__date::before {
    left: 10px;
    top: -1px;
}

.founders {
    background-color: #f5f9ff;
    padding: 75px 0 145px;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 767px) {
    .founders {
        padding: 40px 0;
    }
}

.founders__inner {
    margin-top: 40px;
}

.founders__item {
    max-width: 320px;
}

@media screen and (max-width: 992px) {
    .founders__item {
        margin-bottom: 25px;
    }    
}

.founders__img {
    max-width: 150px;
    margin: 0 auto 17px;
}

.founders__img img {
    width: 100%;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
}

.founders__title {
    text-align: center;
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.partners {
    padding: 100px 0;
}

@media screen and (max-width: 767px) {
    .partners {
        padding: 40px 0;
    }
}

.partners__item {
    max-width: 320px;
    margin: 0 auto;
    display: block !important;
}

@media screen and (max-width: 992px) {
    .partners__item {
        max-width: 250px;
    }   
}

.partners__slider {
    padding: 95px 0;
}

.partners__slider img {
    margin-bottom: 23px;
    width: 100%;
}

.partners__slider p {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

@media screen and (max-width: 1140px) {
    .about .more-button__wrapper::before, .about .more-button__wrapper::after {
        max-width: 288px;
    }
}

.events__date {

}