.contacts {
    padding: 100px 0;
}

@media screen and (max-width: 767px) {
    .contacts {
        padding: 0;
    }
}

.contacts .page-title {
    margin-left: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .contacts .page-title {
        margin-left: 0;
    }
}

.contacts .inner-container {
    background: url('../img/bg/contacts-bg.png') center no-repeat;
    background-position-y: 260px;
    background-position-x: 40%;
}

.contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 90px;
}

@media screen and (max-width: 767px) {
    .contacts__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }   
}

.contacts__description,
.contacts__form {
    max-width: 555px;
    width: 100%;
}

@media screen and (max-width: 1140px) {
    .contacts__description, .contacts__form {
        max-width: 47%;
    }
}

@media screen and (max-width: 992px) {
    .contacts__description, .contacts__form {
        max-width: 49%;
    }
}

@media screen and (max-width: 767px) {
    .contacts__description, .contacts__form {
        max-width: none;
    }   
}

.contacts__description-title {
    color: #000000;
    font-family: "GothamPro-Medium";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contacts__description-row {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contacts__description-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 5px solid transparent;
    -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .4s;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .4s;
}

.contacts__description-icon:hover {
    border-color: rgba(30, 121, 219, 0.2);
}

.contacts__description-row p {
    margin-left: 22px;
    color: #000000;
    font-family: "GothamPro-Medium";
    font-size: 18px;
}

.contacts__map {
    margin-top: 15px;
}

.contacts__form {
    padding: 40px 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #fff;
}

.inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 38px;
}

@media screen and (max-width: 992px) {
    .inputs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.form__input {
    border: 0;
    padding: 7px 10px 7px 20px;
    border-bottom: 1px solid #006cb8;;
    width: 100%;
    color: #000000;
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: 400;
    max-width: 233px;
}

@media screen and (max-width: 992px) {
    .form__input {
        max-width: none;
    }
}

.input-wrapper {
    position: relative;
    max-width: 233px;
}

@media screen and (max-width: 992px) {
    .input-wrapper {
        max-width: none;
    }
}

.input-wrapper label {
    margin-bottom: 25px;
    display: inline-block;
}

@media screen and (max-width: 992px) {
    .input-wrapper label {
        margin-bottom: 10px;
    }
}

.form__input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@media screen and (max-width: 992px) {
    .input-wrapper-name .form__input {
        margin-bottom: 20px;
    }
}

.form__input~.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #3399FF;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.form__input:focus~.focus-border {
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    left: 0;
}

.contacts__form-title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    margin-bottom: 9px;
}

.contacts__form-subtitle {
    color: #a4a4a4;
    font-family: "GothamPro";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 37px;
}

.input-wrapper-name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 10px;
    height: 12px;
    background: url('../img/logo_icons/user-icon.png') center no-repeat;
    background-size: 10px;
}

@media screen and (max-width: 992px) {
    .input-wrapper-name::before {
        bottom: 30px;
    }
}

.input-wrapper-email::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 10px;
    height: 12px;
    background: url('../img/logo_icons/mail-icon.png') center no-repeat;
    background-size: 10px;
}

.textarea-wrapper {
    position: relative;
    margin-bottom: 33px;
}

.label-textarea {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
}

@media screen and (max-width: 992px) {
    .label-textarea {
        margin-bottom: 10px;
    }   
}

.textarea-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;
    bottom: 54px;
    background: url('../img/logo_icons/chat-icon.png') center no-repeat;
    background-size: 12px;
}

@media screen and (max-width: 767px) {
    .textarea-wrapper::before {
        bottom: 39px;
    }
}

.textarea-wrapper textarea {
    width: 100%;
    outline: none;
    resize: none;
    max-width: none;
    height: 70px;
}

@media screen and (max-width: 767px) {
    .textarea-wrapper textarea {
        height: 55px;
    }
}

.textarea-wrapper .focus-border {
    bottom: 3px;
}

.button {
    color: #ffffff;
    font-family: "GothamPro-Medium";
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 25px;
    background-color: #1e79db;
    padding: 14px 53px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    border: none;
}

.button:hover {
    -webkit-box-shadow: 0 8px 14px 1px rgba(0, 54, 255, 0.2);
            box-shadow: 0 8px 14px 1px rgba(0, 54, 255, 0.2);
}

.directorate__title {
    color: #000000;
    font-family: "GothamPro-Medium";
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.directorate__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .directorate__inner {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}

.directorate__item {
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
    max-width: 263px;
    width: 100%;
    padding: 30px 0;
    margin-bottom: 30px;
    min-height: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.directorate__item-img {
    width: 120px;
    border-radius: 100%;
    margin: 0 auto;
}

.directorate__item-img img {
    width: 70px;
    height: 70px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
}

.directorate__item-img span {
    color: #ffffff;
    font-family: "GothamPro-Bold";
    font-size: 12px;
    text-transform: uppercase;
    background-color: #ffcc00;
    padding: 4px;
    display: block;
    text-align: center;
    margin-top: -10px;
    position: relative;
    margin-bottom: 15px;
}

.directorate__item-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 190px;
    margin: 0 auto 20px;
}

.directorate__item-status, .directorate__item-text {
    color: #000000;
    font-family: "GothamPro";
    font-size: 12px;
}

.directorate__item-status {
    text-align: center;
    margin-bottom: 12px;
}

.directorate__item-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}