.main__search--7 {
    background: url('../img/bg-7.png') center no-repeat;
}

.regular .main__search .inner-container {
    height: 100%;
    width: 100%;
}

.seven .title__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 63px;
}

@media screen and (max-width: 767px) {
    .seven .title__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.seven .title__wrapper .page-title {
    margin-left: 0;
    margin-bottom: 0;
}

.search__block {
    max-width: 600px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 767px) {
    .search__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 30px 0 0;
    }
}

.search__block input {
    color: #b6b6b6;
    font-family: "GothamPro-Medium";
    font-size: 18px;
    padding: 0 19px;
    height: 50px;
    max-width: 460px;
    width: 100%;
    margin-right: 29px;
}

@media screen and (max-width: 767px) {
    .search__block input {
        border: 1px solid #383838;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        max-width: none;
        margin-right: 0;
        height: 40px;
        margin-bottom: 15px;
        font-size: 16px;
    }
}

.search__block-button {
    background-color: #006cb8;
    border-radius: 5px;
    color: #ffffff;
    font-family: "GothamPro-Medium";
    font-size: 18px;
    font-weight: 700;
    padding: 16px 50px;
    cursor: pointer;
}

.seven__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.seven__item {
    max-width: 360px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.06);
            box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.06);
    margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .seven__item {
        margin-bottom: 30px;
    }
}

.seven__img {
    margin-bottom: 33px;
}

.seven__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.seven__item-title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    line-height: 18px;
    padding: 20px 20px 53px 30px;
}

@media screen and (max-width: 767px) {
    .seven__item-title {
        padding: 20px 20px 30px 10px;
    }
}

.seven__date {
    margin-left: 30px;
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    .seven__date {
        margin-left: 20px;
    }   
}

@media screen and (max-width: 767px) {
    .seven__date {
        margin-left: 0;
    }   
}