.main__search--8 {
    background: url('../img/media-bg.png') center no-repeat;
}

.eight .main__search .inner-container {
    width: 100%;
    height: 100%;
}

.eight__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.media__tabs {
    max-width: 148px;
}

.eight__item {
    max-width: 360px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.06);
            box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.06);
    margin-bottom: 60px;
}

.eight__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.eight__item-title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    line-height: 18px;
    padding: 0 30px;
    margin: 40px 0;
}