.nine__wrapper {
    padding: 40px 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 1px solid #f8f8f8;
    margin-bottom: 150px;
}

@media screen and (max-width: 767px) {
    .nine__wrapper {
        padding: 20px 10px;
        margin-bottom: 50px;
    }
}

.nine__wrapper .regular__date {
    margin-left: 0;
}

.nine__title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
    max-width: 720px;
}

@media screen and (max-width: 1140px) {
    .nine__title {
        font-size: 30px;
        line-height: 1.2;
    }   
}

@media screen and (max-width: 992px) {
    .nine__title {
        font-size: 25px;
    }   
}

@media screen and (max-width: 767px) {
    .nine__title {
        font-size: 20px;
    }
}

.nine__img {
    max-width: 720px;
    width: 100%;
    margin-bottom: 30px;
}

.nine__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.nine .regular__text {
    max-width: 860px;
    width: 100%;
}