@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css');

body {
    font-family: 'GothamPro', serif;
    line-height: 1;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1,h2,h3,h4,p {
    margin: 0;
}

label {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 14px;
    font-weight: 700;
}

label span {
    color: #ff0000;
}

input {
    outline: none;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: inherit;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: inherit;
}

input:-ms-input-placeholder { /* IE 10+ */
    color: inherit;
}

input:-moz-placeholder { /* Firefox 18- */
    color: inherit;
}

textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: inherit;
}

textarea::-moz-placeholder { /* Firefox 19+ */
    color: inherit;
}

textarea:-ms-input-placeholder { /* IE 10+ */
    color: inherit;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: inherit;
}

.overflow-none {
    overflow: hidden;
}

.burger {
    display: none;
}

@media screen and (max-width: 767px) {
    .burger {
        display: block;
        width: 20px;
        height: 20px;
        position: fixed;
        right: 0;
        top: 75px;
        padding: 10px;
        background-color: #fff;
        border-radius: 100%;
        z-index: 20;
    }

    .burger .burger-close {
        display: none;
    }

    .burger.active {
        background: url('../img/logo_icons/close.svg') center no-repeat;
        background-size: 20px;
        background-color: #fff;
    }

    .burger.active .burger-open {
        display: none;
    }

    .burger.active .burger-close {
        display: block;
    }
}

.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #006cb8;
  }

  @media screen and (max-width: 992px) {
    .checkmark {
        top: 5px;
    }  
  }
  
  .checkbox-wrapper:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-wrapper .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.checkbox-wrapper {
    color: #000000;
    font-family: "GothamPro-Medium";
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .checkbox-wrapper {
        font-size: 14px;
        line-height: 1.25;
    }
}

.label-textarea {
    width: 100%;
}

.inner-container, .page-title {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1140px) {
    .inner-container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 767px) {
    .inner-container {
        padding: 0 15px;
    }
}

.title {
    margin: 90px 0 75px;
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 1140px) {
    .title {
        margin: 90px 0 55px;
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .title {
        margin: 0 0 30px;
        font-size: 24px;
    }   
}

.page-title {
    color: #1e79db;
    font-family: "GothamPro-Bold";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 30px;
}

.page-title::before {
    content: '';
    position: absolute;
    left: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: #ffcc00;
    border-radius: 100%;
    z-index: -1;
}


@media screen and (max-width: 1140px) {
    .page-title {
        padding: 0 20px;
    }
    
    .page-title::before {
        left: 5px;
    }
}

@media screen and (max-width: 767px) {
    .page-title {
        font-size: 18px;
    }
}

.page-title__big {
    opacity: 0.2;
    color: #1e79db;
    font-family: "GothamPro-Bold";
    font-size: 72px;
    text-transform: uppercase;
    text-align: right;
    line-height: 30px;
    margin-top: -30px;
    position: relative;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    .page-title__big {
        font-size: 55px;
    }
}

@media screen and (max-width: 767px) {
    .page-title__big {
        display: none;
    }
}

.input, .main__search-button {
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
    font-size: 18px;
    border: none;
    padding: 15px 10px;
    color: #fff;
    font-family: 'GothamPro-Medium';
}

.main__search-button {
    max-width: 170px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    color: #000;
}

@media screen and (max-width: 767px) {
    .main__search-button {
        display: block;
        margin: 0 auto;
    }
}

.main__search-button:hover {
    background-color: #fff;
}

.more-button__wrapper {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px;
}

@media screen and (max-width: 767px) {
    .more-button__wrapper {
        margin-bottom: 50px;
    }
}

.more-button {
    border: 3px solid #1e79db;
    border-radius: 25px;
    padding: 14px 61px;
    color: #1e79db;
    font-family: "GothamPro-Medium";
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
}

@media screen and (max-width: 767px) {
    .more-button {
        padding: 14px 0;
        width: 100%;
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

.more-button:hover {
    background-color: #1e79db;
    color: #fff;

}

.more-button__wrapper::before, .more-button__wrapper::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #ffcc00;
    max-width: 388px;
    width: 100%;
    top: 6px;
}

.more-button__wrapper::before {
    left: 0;
}

.more-button__wrapper::after {
    right: 0;
}

@media screen and (max-width: 1140px) {
    .more-button__wrapper::before, .more-button__wrapper::after {
        max-width: 338px;
    }
}

@media screen and (max-width: 992px) {
    .more-button__wrapper::before, .more-button__wrapper::after {
        max-width: 170px !important;
    }   
}

@media screen and (max-width: 767px) {
    .more-button__wrapper::before, .more-button__wrapper::after {
        display: none;
    }
}

.row-header {
    color: #ffffff;
    font-family: "GothamPro-Medium";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    padding: 16px 0;
    background-color: #0063b6;
    background-image: linear-gradient(-225deg, rgba(60, 143, 255, 0.5) 0%, rgba(0, 114, 201, 0.5) 100%);
    text-align: center;
}

@media screen and (max-width: 992px) {
    .row-header {
        font-size: 14px;
    }
}

.row-header-second {
    -webkit-box-shadow: 0 0 21px 9px rgba(0, 1, 5, 0.1);
            box-shadow: 0 0 21px 9px rgba(0, 1, 5, 0.1);
    margin-bottom: 20px;
}

@media screen and (max-width: 1140px) {
    .row-header-second {
        padding: 0 10px;
    }
}

.row-header-second__inner {
    max-width: 1067px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .row-header-second__inner {
        padding: 10px 0;
    }
}

@media screen and (max-width: 767px) {
    .row-header-second__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .row-header__logo {
        margin-bottom: 20px;
    }
}

.row-header__title {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 3.2px;
}

@media screen and (max-width: 1140px) {
    .row-header__title {
        line-height: 1;
        letter-spacing: 2.2px;
    }
}

@media screen and (max-width: 992px) {
    .row-header__title {
        max-width: 640px;
    }    
}

@media screen and (max-width: 767px) {
    .row-header__title {
        letter-spacing: 1.2px;
    }   
}

.row-shares {
    -webkit-box-shadow: 0 0 21px 9px rgba(0, 1, 5, 0.1);
            box-shadow: 0 0 21px 9px rgba(0, 1, 5, 0.1);
    background-size: cover;
    margin-bottom: 30px;
}

.row-shares__inner {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .row-shares__inner {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
}

.row-shares__item {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    cursor: pointer;
    -webkit-transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .5s;
}

@media screen and (max-width: 767px) {
    .row-shares__item {
        width: 38px;
        height: 38px;
    }

    .row-shares__item img {
        width: 100%;
        hegiht: 100%;
    }
}

.row__shares-vk:hover {
    border-color: rgba(58, 113, 152, 0.2);
}

.row__shares-insta:hover {
    border-color: rgba(124, 33, 184, 0.2);
}

.row__shares-tg:hover {
    border-color: rgba(97, 167, 221, 0.2);
}

.row__shares-ytb:hover {
    border-color: rgba(243, 27, 11, 0.2);
}

.row__shares-fb:hover {
    border-color: rgba(70, 89, 145, 0.2);
}

.menu {
    padding: 30px 0;
}

@media screen and (max-width: 1140px) {
    .menu {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        padding: 20px;
    }
}

.menu__inner {
    max-width: 1025px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .menu__inner {
        display: none;
    }
}

.menu__mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .menu__mobile {
        position: fixed;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 10;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-left: 15px;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
        transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
    }

    .menu__mobile .menu__item {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .menu__mobile.active {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

.menu__item {
    font-family: 'GothamPro-Medium';
    font-size: 18px;
    text-transform: uppercase;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
    color: #010101;
}

@media screen and (max-width: 992px) {
    .menu__item {
        font-size: 15px;
    }
}

.menu__item:hover, .footer__item-menu a:hover {
    color: #1e79db;
}

.menu__item:visited, .menu__item:active {
    color: #000;
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 45px 0;
}

@media screen and (max-width: 1140px) {
    .footer__inner {
        padding: 45px 10px;
    }
}

@media screen and (max-width: 992px) {
    .footer__inner {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }   
}

@media screen and (max-width: 767px) {
    .footer__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }
}

.footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 33px;
}

/* 
.footer__item-menu {
    margin-top: 80px;
} */

.footer__item-apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
}

@media screen and (max-width: 767px) {
    .footer__item-apps {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }    
}

.footer__item-menu a {
    font-family: 'GothamPro-Medium';
    color: #010101;
    font-size: 16px;
    font-weight: 500;
    line-height: 41.04px;
    text-transform: uppercase;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .4s;
    line-height: 1;
    margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
    .footer__item-menu a {
        margin-bottom: 20px;
    }
}

.footer__item-term {
    color: #010101;
    font-family: "GothamPro-Medium";
    font-size: 13px;
    text-decoration: underline;
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    .footer__links {
        margin: 33px auto 0;
    }   
}

@media screen and (max-width: 767px) {
    .footer__item-term {
        max-width: 80%;
        margin: 0 auto;
    }
}



.main__search {
    height: 500px;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
}

@media screen and (max-width: 1140px) {
    .main__search {
        padding: 0 20px;
        height: 400px;
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 992px) {
    .main__search {
        height: 300px;
    }    
}

@media screen and (max-width: 767px) {
    .main__search {
        margin-bottom: 50px;
        padding: 0 5px;
        height: auto;
    }
}

.main__search-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1067px;
    width: 100%;
    margin: 0 auto;
}

.main__search-count {
    font-family: 'GothamPro-Bold';
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .main__search-count {
        font-size: 48px;
    }
}

@media screen and (max-width: 767px) {
    .main__search-count {
        font-size: 20px;
    }
}

.main__search-form input {
    max-width: 469px;
    width: 100%;
    margin-right: 30px;
}

@media screen and (max-width: 767px) {
    .main__search-form input {
        margin-right: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-bottom: 20px;
        padding: 10px;
        max-width: none;
    }
}
.organizations__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.organizations__item {
    max-width: 263px;
    border: 1px solid #f8f8f8;
    -webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.06);
            box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.06);
    margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .organizations__item {
        margin: 0 auto 60px;
    }   
}

.organizations__item-img img {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
}

.organizations__item-title {
    color: #000000;
    font-family: "GothamPro-Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 25px 15px 40px;
}

.regular__date {
    opacity: 0.5;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    padding-left: 24px;
    margin-left: 10px;
    margin-bottom: 9px;
}

.regular__date::before {
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    background: url('../img/logo_icons/calendar.png') center no-repeat;
    background-size: contain;
    left: 0;
    top: -3px;
}

@media screen and (max-width: 992px) {
    .regular__date {
        padding-left: 35px;
    }
    
    .regular__date::before {
        left: 11px;
    }
}

.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slick-track .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 0;
    position: absolute;
    top: calc(50% - 25px);
    -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1) .1s;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .1s;
    cursor: pointer;
    outline: none;
    border: 1px solid #fff;
}

@media screen and (max-width: 767px) {
    .slick-prev, .slick-next {
        display: none !important;
    }
}

.slick-prev:hover, .slick-next:hover {
    -webkit-box-shadow: 0 8px 24px 6px rgba(0, 1, 5, 0.3);
            box-shadow: 0 8px 24px 6px rgba(0, 1, 5, 0.3);
}

.slick-prev {
    background: url('../img/logo_icons/left-arrow.png') center no-repeat;
    background-color: #fff;
    left: 0;
}

.slick-next {
    background: url('../img/logo_icons/right-arrow.png') center no-repeat;
    background-color: #fff;
    right: 0;
}

.regular__title {
    color: #ffffff;
    font-family: "GothamPro-Bold";
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 150px;
}

@media screen and (max-width: 992px) {
    .regular__title {
        margin-top: 120px;
        font-size: 50px;
    }   
}

@media screen and (max-width: 767px) {
    .regular__title {
        font-size: 40px;
        padding: 40px 0;
        text-align: center;
        margin: 0;
    }
}

.regular__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 232px;
    margin: 0 auto 33px;
}

.regular__tabs-item {
    opacity: 0.5;
    color: #1e79db;
    font-family: "GothamPro";
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
}

@media screen and (max-width: 767px) {
    .regular__tabs-item {
        font-size: 16px;
    }
}

.regular__tabs-item.selected {
    opacity: 1;
}

.regular__text {
    color: #000000;
    font-family: "GothamPro";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .regular__text {
        font-size: 15px;
    }
}

.regular__item-phone {
    background: url('../img/logo_icons/direction-phone-icon.png') center no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.regular__item-mail {
    background: url('../img/logo_icons/direction-mail-icon.png') center no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.regular__item-vk {
    background: url('../img/logo_icons/direction-vk-icon.png') center no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.regular__item-instagram {
    background: url('../img/logo_icons/direction-instagram-icon.png') center no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}