@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@font-face { 
    font-family: "GothamPro-Black";
    src: url('../fonts/GothamPro-Black.eot?') format("eot"),
         url('../fonts/GothamPro-Black.woff') format("woff"),
         url('../fonts/GothamPro-Black.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-BlackItalic";
    src: url('../fonts/GothamPro-BlackItalic.eot?') format("eot"),
         url('../fonts/GothamPro-BlackItalic.woff') format("woff"),
         url('../fonts/GothamPro-BlackItalic.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-Bold";
    src: url('../fonts/GothamPro-Bold.eot?') format("eot"), 
         url('../fonts/GothamPro-Bold.woff') format("woff"), 
         url('../fonts/GothamPro-Bold.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-BoldItalic";
    src: url('../fonts/GothamPro-BoldItalic.eot?') format("eot"), 
         url('../fonts/GothamPro-BoldItalic.woff') format("woff"), 
         url('../fonts/GothamPro-BoldItalic.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-Italic";
    src: url('../fonts/GothamPro-Italic.eot?') format("eot"), 
         url('../fonts/GothamPro-Italic.woff') format("woff"), 
         url('../fonts/GothamPro-Italic.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-Light";
    src: url('../fonts/GothamPro-Light.eot?') format("eot"), 
         url('../fonts/GothamPro-Light.woff') format("woff"), 
         url('../fonts/GothamPro-Light.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-LightItalic";
    src: url('../fonts/GothamPro-LightItalic.eot?') format("eot"), 
         url('../fonts/GothamPro-LightItalic.woff') format("woff"), 
         url('../fonts/GothamPro-LightItalic.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-Medium";
    src: url('../fonts/GothamPro-Medium.eot?') format("eot"), 
         url('../fonts/GothamPro-Medium.woff') format("woff"), 
         url('../fonts/GothamPro-Medium.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro-MediumItalic";
    src: local("GothamPro-MediumItalic"),
         url('../fonts/GothamPro-MediumItalic.eot?') format("eot"), 
         url('../fonts/GothamPro-MediumItalic.woff') format("woff"), 
         url('../fonts/GothamPro-MediumItalic.ttf') format("truetype");
}

@font-face { 
    font-family: "GothamPro";
    src: local("GothamPro"),
         url('../fonts/GothamPro.eot?') format("eot"), 
         url('../fonts/GothamPro.woff') format("woff"), 
         url('../fonts/GothamPro.ttf') format("truetype");
}

@font-face { 
    font-family: "'../fonts/GothamProNarrow-Bold";
    src: local("GothamProNarrow-Bold"),
         url('../fonts/GothamProNarrow-Bold.eot?') format("eot"), 
         url('../fonts/GothamProNarrow-Bold.woff') format("woff"), 
         url('../fonts/GothamProNarrow-Bold.ttf') format("truetype");
}

@font-face { 
    font-family: "'../fonts/GothamProNarrow-Medium";
    src: local("GothamProNarrow-Medium"),
         url('../fonts/GothamProNarrow-Medium.eot?') format("eot"), 
         url('../fonts/GothamProNarrow-Medium.woff') format("woff"), 
         url('../fonts/GothamProNarrow-Medium.ttf') format("truetype");
}